// Variables
$navbar-default-bg: #312312;
$light-orange: #FF8C00;
$navbar-default-color: $light-orange;
$primary-color: #3B5A76;


// Created a new file custom.css.scss instead of following instructions as specified here - https://github.com/twbs/bootstrap-sass
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";


#logo {
  margin: 10px 10px 10px 0;
  float: left;
  font-size: 2em;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: white;
  text-decoration: none;
}

body {
  padding-top: 80px;
}

.nav_item {
  margin: 20px 0 0 25px;
  float: left;
}

.center {
  text-align: center;
}

h1, h2, h3, h4 {
  line-height: 1em;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

.left {
  text-align: left;
  letter-spacing: .5px;
}

footer {
	background: $primary-color;
	color: #FFF;
	text-align: center;
	margin-top: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.chef_info {
  margin-top: 10px;
}

.gravatar {
  border-radius: 10px;
}

.well {
  margin-bottom: 10px;
  background-color: #EDEDED;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #D2D2D2;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.show_recipe {
  margin: 10px;
}